<template>
    <button class="btn btn-outline-secondary"
            :class="$style.dropdownButton"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        <i class="fa fa-bars"></i>
        <div class="dropdown-menu" :class="$style.dropdown">
            <a v-for="(test, testKey) in tests"
               @click="changeCurrentTest(testKey)"
               :class="dropDownClasses(test)"
               class="dropdown-item"
               href="#">{{ test.name }}</a>
        </div>
    </button>
</template>
<script>
    import { mapGetters } from 'vuex';
    import { mapActions } from 'vuex';
    export default {
        data () {
            return {
                inputFocused: false
            }
        },
        computed: {
            ...mapGetters('tests', [
                'tests',
                'currentTest'
            ])
        },
        methods: {
            ...mapActions('tests', [
                'changeCurrentTest',
            ]),
            dropDownClasses (test) {
                return [
                    {[this.$style.dropdownItemActive]: this.currentTest.name === test.name},
                    this.$style.dropdownItem
                ];
            }
        }
    }
</script>
<style module lang="scss">
    .dropdownButton {
        background-color: #fff;
    }
    .dropdown {
        padding: 0;
    }
    .dropdownItem {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .dropdownItemActive {
        background-color: #e3f2fd;
    }
</style>
