<template>
    <div>
        <div class="card" :class="$style.card" v-for="question in filteredQuestions">
            <div class="card-body" :class="$style.cardBody">
                <h6 class="card-title" :class="$style.cardTitle">{{ question.name }}</h6>
                <hr :class="$style.hr"/>
                <p class="card-text" :class="$style.cardText">{{ question.answer }}</p>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        computed: {
            filteredQuestions () {
                const questions = this.$store.getters['tests/questions'];
                const searchText = this.$store.getters['navbar/searchText'];
                return questions.filter((question) => {
                    return this.clearQuestionName(question.name).startsWith(searchText.toLowerCase());
                });
            }
        },
        methods: {
            clearQuestionName (name) {
                const disallowedCharactersRegExp = this.$store.getters['navbar/disallowedCharactersRegExp'];
                return name.replace(disallowedCharactersRegExp,'').toLowerCase();
            }
        }
    }
</script>
<style module lang="scss">
    .card {
        margin-bottom: 10px;
    }
    .cardBody {
        padding: 1rem;
    }
    .cardTitle {
        font-size: 14px;
    }
    .cardText {
        font-size: 14px;
    }
    .hr {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
</style>
