<template>
    <div class="container fixed-top" :class="$style.navbarContainer">
        <nav class="navbar navbar-light" :class="$style.navbarStyles">
            <div class="input-group" :class="$style.formGroup">
                <div class="input-group-prepend" v-if="!inputFocused">
                    <Dropdown/>
                </div>
                <input v-model="searchText"
                       v-tooltip="tooltipConfig()"
                       @keyup.esc="searchText = ''"
                       @keydown="onKeydown"
                       @focus="inputFocused = true"
                       @blur="inputFocused = false"
                       :class="$style.searchInput"
                       type="text"
                       class="form-control"
                       placeholder="Введите начало вопроса">
                <div class="input-group-append" v-if="searchText.length">
                    <button
                            @click="searchText = ''"
                            :class="$style.clearButton"
                            class="btn btn-outline-secondary"
                            type="button">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
        </nav>
    </div>
</template>
<script>
    import { mapGetters } from 'vuex';
    import Dropdown from './Dropdown.vue';
    export default {
        components: { Dropdown },
        data () {
            return {
                inputFocused: false,
                tooltipShown: false,
                tooltipShow: false
            }
        },
        computed: {
            ...mapGetters('navbar', [
                'disallowedCharactersRegExp'
            ]),
            searchText: {
                get () {
                    return this.$store.getters['navbar/searchText'];
                },
                set (value) {
                    this.$store.dispatch('navbar/updateSearchText', value)
                }
            }
        },
        methods: {
            onKeydown (event) {
                if (new RegExp(this.disallowedCharactersRegExp).test(event.key)) {
                    if (!this.tooltipShown) {
                        this.tooltipShown = true;
                        this.tooltipShow = true;
                        setTimeout(() => {
                            this.tooltipShow = false;
                        }, 2000);
                        setTimeout(() => {
                            this.tooltipShown = false;
                        }, 10000)
                    }
                    event.preventDefault();
                }
            },
            tooltipConfig () {
                return {
                    content: 'Вводите только цифры и буквы.',
                    show: this.tooltipShow,
                    trigger: 'manual',
                    placement: 'bottom-start'
                }
            }
        }
    }
</script>
<style module lang="scss">
    @media screen and (max-width: 540px) {
        .navbarContainer {
            padding-right:0 !important;
            padding-left:0 !important;
            max-width: initial !important;
        }
    }
    .navbarStyles {
        background-color: #e3f2fd;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .clearButton {
        background-color: #fff;
        font-size: 14px;
    }
    .formGroup {
        height: 40px;
    }
    .searchInput {
        outline: none;
        box-shadow:none !important;
        border:1px solid #6c757d !important;
        font-size: 16px;
    }
    .wrongCharacterAlert {
        font-size: 12px;
    }
</style>
