<template>
    <div class="container"
         :class="$style.paddingTop">
        <Navbar/>
        <QuestionList/>
    </div>
</template>
<script>
    import TheNavbar from './components/TheNavbar.vue'
    import QuestionList from './components/QuestionList.vue'
    export default {
        components: { 'Navbar': TheNavbar, QuestionList }
    }
</script>
<style module lang="scss">
    .paddingTop {
        padding-top: 70px;
    }
</style>
